<div class="container">
  <h1>Beers Tasted</h1>
</div>
<div class="row container-fluid">
  <div class="col-md-4">
    {{#each beerData}}
      <h4><a href="/{{this.id}}">{{this.beer_name}}</h4>
    {{/each}}
  </div>
  <div class="col-md-4">
    {{#each beerData}}
      <h4><a href="/{{this.id}}">{{this.abv}}</h4>
    {{/each}}
  </div>
  <div class="col-md-4">
    {{#each beerData}}
      <h4><a href="/{{this.id}}">{{this.brewery_name}}</h4>
    {{/each}}
  </div>
</div>
