<h1>Update {{beer_name}}</h1>
<form action="/{{id}}?_method=PUT" method="post">
  <div class="form-group">
    <label for="beer-name">Update Beer Name</label>
    <input type="text" class="form-control" name="beer_name" value="{{beer_name}}">
  </div>
  <div class="form-group">
    <label for="brewery-name">Update Brewery</label>
    <input type="text" class="form-control" name="brewery_name" value="{{brewery_name}}">
  </div>
  <div class="form-group">
    <label for="abv">Update ABV</label>
    <input type="number"  step="0.1" min="0" name="abv" value="{{abv}}">
  </div>
  <button type="submit" class="btn btn-default">Update</button>
  <button  id="start" class="btn btn-default" type="submit"><a href="/beerTasted">View Beers Tasted</a></button>
</form>

<h2>Update this beer: {{addbeer_name}}</h2>
<p>Brewed at: {{addbeer_brewery}}</p>
<p>Alcohol By Volume: {{addbeer_abv}}%</p>
<p>Tasted on: {{addbeer_date}}</p>
